.about {
  .about_title {
    font-size: 50px;
    line-height: 55px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    position: relative;
    .folding_line_start {
      display: inline-block;
      vertical-align: center;
      margin-left: 10px;
    }
    transform: translateY(100px);
    transition: 0.3s all ease-in-out;
    opacity: 0;
  }
  .about_description {
    color: #555;
    margin-top: 25px;
    font-size: 25px;
    line-height: 38px;
    span {
      display: block;
    }
    transition: 0.3s all ease-in-out 0.15s;
    transform: translateY(100px);
    opacity: 0;
    &.sub {
      transition: 0.3s all ease-in-out 0.3s;
    }
  }
  &.is_passed {
    .about_title,
    .about_description {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media (max-width: 1023px) {
  .about {
    .about_title {
      font-size: 30px;
      line-height: 40px;
    }
    .about_description {
      font-size: 20px;
      line-height: 30px;
      span {
        display: inline;
      }
    }
  }
}
