@use '../variables' as *;

.donut {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: all 1s ease-in-out;
  text-align: center;
  transform: translateX(200px);
  background-color: #ccc;
  .donut_inner {
    position: absolute;
    inset: 10px;
    background-color: #fff;
    border-radius: 100%;
    white-space: nowrap;
    .text_area {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
    }
    &:after {
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%;
      content: '';
    }
    .sub_title {
      color: $description-color;
      font-size: 15px;
    }
    .title {
      color: $point-color;
      font-size: 20px;
      font-weight: 400;
    }
  }
  .donut_left,
  .donut_right {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $point-color;
      transform: rotate(-180deg);
      content: '';
    }
  }
  .donut_left {
    &:before {
      transform-origin: right center;
      transition: all 1s ease-out 1s;
    }
  }
  .donut_right {
    &:before {
      transform-origin: left center;
      transition: all 1s ease-in;
    }
  }
  &.donut1 {
    transition-delay: 0.3s;
    .donut_left {
      &:before {
        transition-delay: 1.3s;
      }
    }
    .donut_right {
      &:before {
        transition-delay: 0.3s;
      }
    }
  }
  &.donut2 {
    transition-delay: 0.6s;
    .donut_left {
      &:before {
        transition-delay: 1.6s;
      }
    }
    .donut_right {
      &:before {
        transition-delay: 0.6s;
      }
    }
  }
  &.donut3 {
    transition-delay: 0.9s;
    .donut_left {
      &:before {
        transition-delay: 1.9s;
      }
    }
    .donut_right {
      &:before {
        transition-delay: 0.9s;
      }
    }
  }
  &.donut4 {
    transition-delay: 1.2s;
    .donut_left {
      &:before {
        transition-delay: 2.2s;
      }
    }
    .donut_right {
      &:before {
        transition-delay: 1.2s;
      }
    }
  }
}

.construction_count {
  margin: 200px 0 0;
  .title,
  .description {
    transform: translateY(100px);
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
  .title {
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: -2px;
  }
  .description {
    color: $description-color;
    font-size: 2.5rem;

    transition-delay: 0.15s;
  }
  .count_inner {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0;

    .count {
      color: $point-color;
      font-size: 4rem;
      font-weight: 700;
      font-family: 'Archivo', sans-serif;
    }
  }
  &.is_passed {
    .title,
    .description {
      transform: translateY(0);
      opacity: 1;
    }
    .donut {
      transform: translateY(0);
      .donut_left {
        &:before {
          transform: rotate(0);
        }
      }
      .donut_right {
        &:before {
          transform: rotate(0);
        }
      }
      &.donut1 {
        opacity: 1;
        .donut_left {
          &:before {
            transform: rotate(-30deg);
          }
        }
      }
      &.donut2 {
        opacity: 1;
        .donut_left {
          &:before {
            transform: rotate(-60deg);
          }
        }
      }
      &.donut3 {
        opacity: 1;
        .donut_left {
          &:before {
            transform: rotate(-90deg);
          }
        }
      }
      &.donut4 {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1023px) {
  .donut {
    width: 160px;
    height: 160px;
    .donut_inner {
      inset: 5px;
      .title {
        font-size: 1.5rem;
      }
    }
  }
  .construction_count {
    margin-top: 100px;
    .title {
      font-size: 3rem;
    }
    .description {
      font-size: 2rem;
    }
    .count_inner {
      flex-wrap: wrap;
      row-gap: 20px;

      .box {
        flex-basis: calc(50%);
      }
      .count {
        font-size: 2.5rem;
      }
    }
  }
}
