@use '../variables' as *;

.donut {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: all 1s ease-in-out;
  text-align: center;
  transform: translateX(200px);
  background-color: #ccc;
  .donut_inner {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background-color: #fff;
    border-radius: 100%;
    white-space: nowrap;
    .text_area {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
    }
    &:after {
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%;
      content: '';
    }
    .sub_title {
      color: #666;
      font-size: 15px;
      line-height: 25px;
    }
    .title {
      color: #305310;
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
    }
  }
  .donut_left,
  .donut_right {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $point-color;
      transform: rotate(-180deg);
      content: '';
    }
  }
  .donut_left {
    &:before {
      transform-origin: right center;
      transition: all 1s ease-out 1s;
    }
  }
  .donut_right {
    &:before {
      transform-origin: left center;
      transition: all 1s ease-in;
    }
  }
  &.donut1 {
    transition-delay: 0.3s;
    .donut_left {
      &:before {
        transition-delay: 1.3s;
      }
    }
    .donut_right {
      &:before {
        transition-delay: 0.3s;
      }
    }
  }
  &.donut2 {
    transition-delay: 0.6s;
    .donut_left {
      &:before {
        transition-delay: 1.6s;
      }
    }
    .donut_right {
      &:before {
        transition-delay: 0.6s;
      }
    }
  }
  &.donut3 {
    transition-delay: 0.9s;
    .donut_left {
      &:before {
        transition-delay: 1.9s;
      }
    }
    .donut_right {
      &:before {
        transition-delay: 0.9s;
      }
    }
  }
  &.donut4 {
    transition-delay: 1.2s;
    .donut_left {
      &:before {
        transition-delay: 2.2s;
      }
    }
    .donut_right {
      &:before {
        transition-delay: 1.2s;
      }
    }
  }
}

.count_wrapper {
  margin: 200px 0 0;
  .count_title {
    font-size: 50px;
    line-height: 78px;
    font-weight: 300;
    letter-spacing: -2px;
    transform: translateY(100px);
    transition: 0.3s all ease-in-out;
    opacity: 0;
  }
  .count_description {
    color: #666;
    font-size: 25px;
    line-height: 38px;
    transition: 0.3s all ease-in-out 0.15s;
    transform: translateY(100px);
    opacity: 0;
  }
  .count_inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0 0;
    .box {
      text-align: center;
    }
    .count {
      text-align: center;
      font-family: 'Archivo', sans-serif;
      font-size: 40px;
      font-weight: 700;
      color: $point-color;
    }
  }
  &.is_passed {
    .count_title,
    .count_description {
      transform: translateY(0);
      opacity: 1;
    }
    .donut {
      transform: translateY(0);
      .donut_left {
        &:before {
          transform: rotate(0);
        }
      }
      .donut_right {
        &:before {
          transform: rotate(0);
        }
      }
      &.donut1 {
        opacity: 1;
        .donut_left {
          &:before {
            transform: rotate(-30deg);
          }
        }
      }
      &.donut2 {
        opacity: 1;
        .donut_left {
          &:before {
            transform: rotate(-60deg);
          }
        }
      }
      &.donut3 {
        opacity: 1;
        .donut_left {
          &:before {
            transform: rotate(-90deg);
          }
        }
      }
      &.donut4 {
        opacity: 1;
      }
    }
  }
}
