@use '../variables' as *;

.inquiry_wrapper {
  background-color: $point-blue-color;
  margin-top: 200px;
  border-radius: 20px;
  position: relative;
  padding: 10px;
  display: flex;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $point-blue-color;
    border-radius: 20px;
    transform: rotate(-5deg) scale(0.9);
    opacity: 0.15;
    z-index: -1;
    content: '';
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $point-blue-color;
    border-radius: 20px;
    transform: rotate(-10deg) scale(0.8);
    opacity: 0.05;
    z-index: -1;
    content: '';
  }

  .map_wrapper {
    width: 50%;
    .map_frame {
      display: block;
      border: 0;
      width: 100%;
      height: 500px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
  .location_info {
    width: 50%;
  }
}
