.visual_wrapper {
  // background-color: #73572f;
  // background-color: #4e8122;
  // background-color: #000;
}

.visual_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  max-width: 2560px;
  height: 1000px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    z-index: 1;
    content: '';
  }

  .visual_slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
  .visual_img {
    position: relative;
    width: 100%;
    height: 100%;
    &.zoom {
      animation: visual_img_zoom 10s ease-out;
    }
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      will-change: transform, opacity;
    }
  }
}

@keyframes visual_img_zoom {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.copy_wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  max-width: 1280px;
  transform: translateX(-50%);
  .copy_inner {
    padding: 0 20px 100px;
    &:after {
      display: block;
      clear: both;
      content: '';
    }
  }
  .copy_tag,
  .copy_title,
  .copy_description {
    clear: both;
    float: left;
    opacity: 0;
    transform: translateY(30px);
    transition:
      opacity 0.6s ease-in-out,
      transform 0.6s ease-in-out;

    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .copy_tag {
    color: rgb(116, 74, 10);
    font-family: 'Noto Serif KR';
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    transition-delay: 3s;
    background-color: #fff;
    padding: 5px;
  }
  .copy_title {
    margin-top: 20px;
    color: #fff;
    font-family: 'pretendard';
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition-delay: 1s;
  }
  .copy_description {
    margin-top: 10px;
    color: #fff;
    font-family: 'Noto Serif KR';
    font-size: 25px;
    line-height: 1.5;
    font-weight: 400;
    transition-delay: 2s;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);

    span {
      display: block;
    }
  }
}

@media (max-width: 1024px) {
  .visual_wrapper {
    .visual_inner {
      height: 600px;
    }

    .copy_wrapper {
      .copy_inner {
        padding-bottom: 50px;
      }
      .copy_tag {
        font-size: 14px;
      }
      .copy_title {
        margin-top: 5px;
        font-size: 30px;
      }
      .copy_description {
        margin-top: 0;
        font-size: 16px;
      }
    }
  }
}
