.header {
  z-index: 100;
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  padding: 0 50px;
  transition: 0.1s all ease-in-out;

  &.is_top {
    top: 50px !important;
    background: none !important;
  }
  &.is_scroll_down {
    top: -80px;
  }
  &.is_scroll_up {
    top: 0px;
    .header_brand {
      scale: 0.8;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
    .header_inner {
      top: 0;
    }
  }

  .header_inner {
    display: flex;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
  }

  .header_brand {
    display: block;
    // margin-right: auto;
    font-family: 'Raleway', 'Pretendard', sans-serif;
    background: url('/logo.png') no-repeat 0 0 / 80px 80px;
    padding: 10px 10px 10px 80px;
    transition: 0.2s all ease-in-out;
    .title {
      color: #fff;
      font-weight: 400;
      font-size: 33px;
      line-height: 40px;
    }
    .slogan {
      color: rgba(255, 255, 255, 0.7);
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
    }
  }

  .btn_header_toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 20px;
    appearance: none;
    background: none;
    border: 0;
    padding: 20px;
    cursor: pointer;
    .sp_menu {
      display: block;
      overflow: hidden;
      width: 40px;
      height: 40px;
      background: url('/menu.png') no-repeat 0 0 / 100% 100%;
      filter: invert(1);
    }
  }

  .main_menu {
    padding: 20px 0 20px 100px;
    .lst {
      &:after {
        display: block;
        clear: both;
        content: '';
      }
    }
    .itm {
      position: relative;
      float: left;
      // &:first-child {
      //   margin-left: 0;
      // }
      &:hover {
        .sub_lst {
          height: auto;
          opacity: 1;
          width: 200px;
        }
      }
    }
    .lnk {
      display: block;
      position: relative;
      font-size: 18px;
      line-height: 30px;
      padding: 5px 30px;
      color: #fff;

      &:before,
      &:after {
        position: absolute;
        transition: 0.3s all ease-out;
        background-color: rgba(255, 255, 255, 0.15);
        content: '';
      }
      &:before {
        bottom: 0;
        left: 50%;
        height: 2px;
        width: 0;
      }
      &:after {
        right: 0;
        bottom: 0;
        left: 0;
        height: 0;
        z-index: -1;
      }
      &:hover {
        &:before {
          left: 0;
          width: 100%;
        }
        &:after {
          height: 100%;
        }
      }
    }
    .sub_lst {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 40px;
      left: 0;
      overflow: hidden;
      width: 0;
      transition: 0.2s all ease-in-out;
      padding: 21px 0;
    }
    .sub_itm {
    }
    .sub_lnk {
      position: relative;
      display: block;
      font-size: 15px;
      line-height: 30px;
      color: #fff;
      white-space: nowrap;
      padding: 10px 0 10px 50px;
      transition: 0.15s all ease-in-out;
      &:before,
      &:after {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        transition: 0.5s all ease-in-out;
        content: '';
      }
      &:before {
        top: 19px;
        left: 35px;
        width: 1px;
        height: 11px;
      }
      &:after {
        top: 24px;
        left: 30px;
        width: 11px;
        height: 1px;
      }
      &:hover {
        background-color: rgba(174, 146, 56, 0.3);
        &:before {
          transform: rotate(360deg);
        }
        &:after {
          transform: rotate(360deg);
        }
      }
    }
  }

  .quick_menu {
    margin-left: auto;
    padding: 15px 0;
    .lst {
      &:after {
        display: block;
        content: '';
        clear: both;
      }
    }
    .itm {
      float: left;

      .img {
        width: 24px;
        height: 24px;
        filter: invert(1);
      }
    }
    .lnk {
      display: block;
      padding: 13px;
      transition: 0.15s background-color ease-in-out;
      border-radius: 5px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 0;
    .header_inner {
    }
    .btn_header_toggle {
      display: block;
    }
    .header_brand {
      scale: 0.8;
    }
    .main_menu {
      display: none;
    }
    .quick_menu {
      display: none;
    }
  }
}
