@use 'webfont';
@use 'variables';
@use 'reset';

@use 'common';
@use 'sprite';
@use 'header';
@use 'footer';
@use 'visual';
@use 'movie';
@use 'animation';

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #d9b077;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  &.main_wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    .main_inner {
      padding: 50px 20px;
    }
  }
}

@media (max-width: 1024px) {
  main {
    &.main_wrapper {
      .main_inner {
        padding: 0 20px;
      }
    }
  }
}
