@use 'webfont' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'reset';

@use 'header';
@use 'visual';
@use 'animation';

.aaa p {
  font-size: 30px !important;
  font-weight: 400;
  line-height: 1.5em;
  color: #520;
  opacity: 0.9;
}

body {
  background-color: #d59a5f;
}

.img {
  img {
    width: 100%;
    filter: contrast(320%); /* 대비 */
    filter: blur(12px);
  }
}

._codemixia_swiper_wrap,
._codemixia_swiper,
._codemixia_swiper_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

._codemixia_swiper_wrap {
  height: 1000px;
  overflow: hidden;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.3));
}

._codemixia_swiper_paginate {
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0;
  z-index: 10;
  font-size: 0;
  text-align: center;
  height: 0;
}

._codemixia_swiper_paginate .item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 12px;
  padding: 3px;
}
._codemixia_swiper_item {
  overflow: hidden;
}
._codemixia_swiper_item img {
  display: block;
  width: 100%;
  //   filter: sepia(80%) saturate(80%);
  //   filter: saturate(120%);
}

._codemixia_swiper_paginate .item:after {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  content: '';
}

._codemixia_swiper_paginate .item.on:after {
  background-color: rgba(255, 255, 255, 1);
}
