@use 'webfont' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'reset';

@use 'common';
@use 'header';
@use 'visual';
@use 'animation';

html,
body {
  height: 100%;
}
body {
  background-color: #d59a5f;
  &.loading {
    opacity: 0;
  }
  &.is-loaded {
    opacity: 1;
  }
}
