@use 'webfont';
@use 'variables';
@use 'reset';

@use 'common';
@use 'sprite';
@use 'common/header';
@use 'common/footer';

@use 'main/visual';
@use 'main/about';
@use 'main/count';
@use 'main/movie';
@use 'main/special';
@use 'main/inquiry';

@use 'common/folding_line';

@use 'sub/sub_visual';

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  // background-color: #fecd8c;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  &.main_wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    .main_inner {
      padding: 100px 20px;
    }
  }
}

@media (max-width: 1023px) {
  main {
    &.main_wrapper {
      .main_inner {
        padding: 50px 20px;
      }
    }
  }
}
