@use 'webfont';
@use 'variables';
@use 'reset';

@use 'common';
@use 'sprite';
@use 'header';
@use 'footer';
@use 'visual';
@use 'main';

@use 'main/count';

@use 'movie';
@use 'animation';

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  // background-color: #fecd8c;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  &.main_wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    .main_inner {
      padding: 100px 20px;
    }
  }
}

.a {
  overflow: hidden;
}
.b {
  width: 700px;
  height: 800px;
  background-color: #001317;
  float: right;
}
.c {
  margin-top: 150px;
  overflow: hidden;
  height: 500px;
  background-color: #fff;

  background: url('/c1.jpg') no-repeat 0 0 / 100% 100%;
}

@media (max-width: 1024px) {
  main {
    &.main_wrapper {
      .main_inner {
        padding: 0 20px;
      }
    }
  }
}
