@use 'webfont' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'reset';

@use 'common';
@use 'header';
@use 'visual';
@use 'animation';

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;

  &.loading {
    .wrapper {
      opacity: 0;
    }
  }
  &.is-loaded {
    .wrapper {
      opacity: 1;
    }
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  &.main {
    background-color: #d59a5f;
  }
  &.sub {
    background-color: #d59a5f;
  }
}

main {
  flex: 1;
}

.visual_video {
  video {
    display: block;
    width: 100%;
  }
}
