@use '../variables' as *;

/* 공통 */
.header {
  z-index: 100;
  position: fixed;
  right: 0;
  left: 0;
  transition: $transition-fast;
  .header_brand {
    display: block;
    font-family: 'Raleway', 'Pretendard', sans-serif;
    background: url('/logo.png') no-repeat 0 0 / 80px 80px;
    transition: $transition-fast;
    padding: 10px 10px 10px 80px;
    white-space: nowrap;
    .title {
      color: #fff;
      font-weight: 400;
      font-size: 33px;
      line-height: 40px;
    }
    .slogan {
      color: rgba(255, 255, 255, 0.7);
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
    }
  }
  .quick_menu {
    padding: 15px 0;
    .lst {
      &:after {
        display: block;
        content: '';
        clear: both;
      }
    }
    .itm {
      float: left;
      .img {
        width: 24px;
        height: 24px;
        filter: invert(1);
      }
    }
    .lnk {
      display: block;
      padding: 13px;
      transition: $transition-fast;
      border-radius: 5px;
    }
  }
}

/* PC 전용 레이어 */
@media (min-width: 1024px) {
  .header {
    top: 50px;
    padding: 0 50px;
    &.is_scroll_down {
      top: -80px;
    }
    &.is_scroll_up {
      top: 0;
      background-color: rgba(0, 0, 0, 0.8);
    }
    .btn_header_toggle {
      display: none;
    }
    .header_inner {
      display: flex;
      position: relative;
      max-width: 1500px;
      margin: 0 auto;
    }
    .menu_wrapper {
      display: flex;
      flex: 1;
    }
    .main_menu {
      padding: 20px 0 20px 100px;
      transition: $transition-fast;
      .lst {
        &:after {
          display: block;
          clear: both;
          content: '';
        }
      }
      .itm {
        position: relative;
        float: left;
        &.is-open,
        &:hover {
          .sub_lst {
            height: auto;
            opacity: 1;
            width: 200px;
          }
        }
      }
      .lnk {
        display: block;
        position: relative;
        font-size: 18px;
        line-height: 30px;
        padding: 5px 30px;
        color: #fff;

        &:before,
        &:after {
          position: absolute;
          transition: $transition-fast;
          background-color: rgba(255, 255, 255, 0.15);
          content: '';
        }
        &:before {
          bottom: 0;
          left: 50%;
          height: 2px;
          width: 0;
        }
        &:after {
          right: 0;
          bottom: 0;
          left: 0;
          height: 0;
          z-index: -1;
        }
        &:hover {
          &:before {
            left: 0;
            width: 100%;
          }
          &:after {
            height: 100%;
          }
        }
      }
      .sub_lst {
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 40px;
        left: 0;
        overflow: hidden;
        width: 0;
        transition: $transition-fast;
        padding: 20px 0;
      }
      .sub_lnk {
        position: relative;
        display: block;
        font-size: 15px;
        line-height: 30px;
        color: #fff;
        white-space: nowrap;
        padding: 10px 0 10px 50px;
        transition: $transition-fast;
        &:before,
        &:after {
          position: absolute;
          background-color: #fff;
          transition: all 0.5s ease-in-out;
          content: '';
        }
        &:before {
          top: 19px;
          left: 35px;
          width: 1px;
          height: 11px;
        }
        &:after {
          top: 24px;
          left: 30px;
          width: 11px;
          height: 1px;
        }
        &:hover {
          background-color: rgba(78, 129, 34, 0.9);
          &:before {
            transform: rotate(360deg);
          }
          &:after {
            transform: rotate(360deg);
          }
        }
      }
    }
    .quick_menu {
      margin-left: auto;
      .lnk {
        &:hover {
          background-color: rgba(255, 255, 255, 0.15);
        }
      }
    }
  }
}

/* 모바일 전용 레이어 */
@media (max-width: 1023px) {
  .header {
    top: 10px;
    padding: 0 10px;
    &.is_scroll_down {
      top: -70px;
    }
    &.is_scroll_up {
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .btn_header_toggle {
      display: block;
      z-index: 10;
      position: absolute;
      top: 0;
      right: 0;
      padding: 22px 20px;
      .sp_menu {
        display: block;
        overflow: hidden;
        position: relative;
        width: 30px;
        height: 22px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        &:before,
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #fff;
          top: 10px;
          content: '';
          transition: $transition-fast;
        }
      }
    }
    .header_brand {
      background-size: 70px;
      padding-left: 70px;
      .title {
        font-size: 22px;
        line-height: 30px;
      }
      .slogan {
        font-size: 11px;
      }
    }
    .menu_wrapper {
      z-index: 2;
      overflow: hidden;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0;
      background-color: rgba(0, 0, 0, 0.9);
      transition: $transition-fast;
      &:before {
        z-index: -1;
        overflow: hidden;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transform: translateX(-50%) translateY(-50%);
        transition: $transition-fast;
        content: '';
        opacity: 0;
      }
    }
    .main_menu {
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      .itm {
        &.is-open {
          .lnk {
            &:before {
              transform: rotate(90deg);
            }
            &:after {
              transform: rotate(360deg);
            }
          }
          .sub_lst {
            display: block;
          }
        }
      }
      .lnk {
        display: block;
        position: relative;
        padding: 20px 50px;
        color: #fff;
        width: 100%;
        text-align: left;
        font-size: 20px;
        line-height: 25px;
        &:before,
        &:after {
          position: absolute;
          background-color: #555;
          content: '';
        }
        &:before {
          top: 21px;
          right: 61px;
          width: 1px;
          height: 23px;
        }
        &:after {
          top: 32px;
          right: 50px;
          width: 23px;
          height: 1px;
        }
      }
      .sub_lst {
        display: none;
        padding: 0 20px;
      }
      .sub_lnk {
        display: block;
        padding: 10px 70px;
        color: rgba(255, 255, 255, 0.7);
        font-size: 15px;
        line-height: 25px;
      }
    }
    .quick_menu {
      position: absolute;
      top: 5px;
      left: 7px;
    }
    &.is_open {
      .btn_header_toggle {
        position: fixed;
        top: 10px;
        .sp_menu {
          border-color: transparent;
          &:before {
            transform: rotate(45deg);
          }
          &:after {
            transform: rotate(-45deg);
          }
        }
      }
      .menu_wrapper {
        width: 80%;
        &:before {
          width: 100%;
          height: 100%;
          opacity: 1;
        }
      }
      &.is_scroll_up,
      &.is_scroll_down {
        .btn_header_toggle {
          top: 0;
        }
        .quick_menu {
          padding: 10px 0;
          top: 0;
        }
      }
    }
  }
}

@media (min-width: 1280px) and (max-width: 1600px) {
  .header {
    .main_menu {
      padding-left: 30px;
    }
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .header {
    .main_menu {
      padding-left: 10px;
      .lnk {
        padding: 5px 15px;
        font-size: 15px;
      }
    }
  }
}
